/*
  
   Professor CSS
   Author: Sarah Ijaz
   Date: 9/26/15

*/

body {
background-color: #F0F8FF;
margin: 0px auto;
padding: 0px;
line-height: 1.5em;
width: 98%;
font-family: 'Quicksand', sans-serif;
}

header{
height: 100px;
font-size: 2.5em;
font-weight: bold;
text-align: center;
padding-top: 4%;
padding-right: 2%;
padding-bottom: 2%;
border-top: 5px solid;
border-right: 5px solid;
border-left: 5px solid;
border-bottom: 5px solid;
margin-bottom: 2%;
}



.img-circle {
border-radius: 50%;
height: 300px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.sidebar {
top: 25%;
left: 25%;
text-align: right;
padding: 50px;
font-family: 'Quicksand', sans-serif;
font-size: 30px;
width: 25%;
float: left;
border-right-style: solid;
border-right-width: thin;
}

.sidebarB{
top: 25%;
padding: 50px;
font-family: 'Quicksand', sans-serif;
font-size: 30px;
width: 25%;
float: right;
border-left-style: solid;
border-left-width: thin;
}


footer {
font-family: 'Quicksand', sans-serif;
display: block;
width: 100%;
clear: left;
text-align: center;
margin-top: 5px;
}


h1, h2, h3, h4, h5, h6 {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
}


