/* CSS will go here */

body {

background: #F0F8FF;
font-family: "Quicksand", sans-serif;
color: black;
text-align: left;
width: 100%;

}

/*containers! */
.wrapper {
	display: block;
		position:relative;
		text-align: center;
		margin: 0;
		border-right: 5px solid;
}

#header {
		display: block;
		height: 100px;
		font-size: 3em;
		font-weight: medium;
		text-align: center;
		padding-top: 4%;
		border: 0px solid;
	
	}

.container {
	display: inline-block;
	margin: auto;
	border: 1px solid blue;
	
}
.container h4 {
		text-align: left;
		width: 100%;
	}
.container h2 {
	display: inline-block;
		text-align: center;
		width: 100%;
		margin: 0;
	}





	/* Container and sidebar are for the navigation elements in the right column */



.myStatus{
	display: block;
	text-align: left;
	}

.img-circle {
	display: inline-block;
	border-radius: 50%;
	height: 30%;
	width: 30%;
	/*float: left;
	vertical-align: left;
	top: 100px;
	left: 50px;*/
	text-align: center;
}



.myStatus #trafficGo, .myStatus #trafficYield, .myStatus #trafficStop {
	width: 30px;
	height: 30px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	
}

#trafficGo {
	background-color: green;
}

#trafficYield {
	background-color: yellow;

} 

#trafficStop {

	background-color: red;
}

}
